.hyperspace {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    perspective: 500px;
    background: #0D1A15;
}

/* Partículas individuales */
.hyperspace::before,
.hyperspace::after {
    content: "";

    position: absolute;
    width: 3px;
    height: 3px;

    left: 50%;
    top: 50%;

    background: white;
    border-radius: 50%;

    box-shadow:
        -400px -250px #fff,
        -250px -100px #8ed8ff,
        -100px -300px #fff,
        200px -200px #6bbcff,
        400px -100px #fff,
        300px 100px #fff,
        150px 250px #7fcfff,
        -200px 200px #fff,
        -400px 100px #5bbcff,
        -300px 300px #fff,
        100px 100px #fff,
        -100px 150px #7dbfff;

    animation: stars 1s linear infinite;
}

.hyperspace::after {
    animation-delay: -0.5s;
    transform: scale(0.5);
    filter: blur(1px);
}

/* Las estrellas salen desde el centro */
@keyframes stars {
    0% {
        transform: scale(0.05);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: scale(5);
        opacity: 0;
    }
}

/* Contenido por encima */
.contenido {
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
}
body { background-color: #0D1A15; color: #E8EFEA; font-family: monospace; }

h1 { color: #D4AF37; text-align: center; font-size: 32px; }

h2 { color: ##FFFFFF; border-bottom: 1px solid #D4AF37; }

p { color: #C2D1C7; font-size: 36px; }

.neira { color: #00e5ff; text-transform: uppercase; }

a { color: #D4AF37; text-decoration: none; }

a:hover { color: #E5C158; text-decoration: underline; }

img { max-width: 100%; height: auto; border: 2px solid #D4AF37; border-radius: 8px; display: block; margin: 20px auto; }

em {
    font-style: normal;      /* Quita la inclinación (cursiva) */
    color: #D4AF37;          /* Cambia el color (ejemplo: Dorado) */
    font-weight: bold;       /* Le da grosor de negrita */
}
